<div class = 'container portfolio-container'>
<%= link_to 'View All Portfolio Items', portfolios_path, class: 'link' %> 
    <div class = 'row portfolio-card'>
    
        <div class = 'col-md-7'>
            <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
            <hr>
            
        </div>

        <div class = 'col-md-5'>
            <div class = 'center-text'> 
                <h1><%= @portfolio_item.title %></h1>
            
                <a target='_blank' rel='noopener noreferrer' href= '<%= @portfolio_item.link %>' class = 'btn btn-warning'> View Website </a>
            </div>
            

            <hr>

            <em><%= @portfolio_item.subtitle %></em>

            <p><%= @portfolio_item.body %></p>

            
            <hr>
            <h2>Technologies Used:</h2>

            <% @portfolio_item.technologies.each do |t| %>
            <p><%= t.name %></p>
            <% end %>

            <hr>
            <% if logged_in?(:site_admin) %>
                <div class = 'col-md-12'>
                    <%= link_to 'Edit Item', edit_portfolio_path(@portfolio_item), class: 'btn btn-secondary btn-outline-warning' %>
                
                </div>
            <%end%>
            </br>
        </div>
    </div>
</div>





