<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content= "<%= @seo_keywords %>" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap" rel="stylesheet">
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'application', 'application.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body class = ''>
  <%= render 'shared/navbar' %>
  <div class = 'container app-body'>
    
      <%# <%= video_tag
        'bg_video.mp4',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: true
       %>
       
        <div class = 'cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
          
          <%= yield %>

          <%= render 'shared/application_footer' %>

         <%# <%= render alerts %> 

          <% if session[:source]%>
            <p>Thanks for visiting from <%= session[:source] %></p>
          <% end %>
      </div>
    </div>
  </body>
  
</html>
