<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content= "<%= @seo_keywords %>" />
    <%= stylesheet_link_tag    'application', 'application.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body class="d-flex h-100 text-center text-white bg-dark">
  <div class = 'container'>
    <%= render 'shared/navbar' %>
      <%# <%= video_tag
        'bg_video.mp4',
        id: 'background',
        autoplay: true,
        loop: true,
        muted: true
       %>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">   
          
          
          <%= yield %>

          <%= render 'shared/application_footer' %>

          <% if session[:source]%>
            <p>Thanks for visiting from <%= session[:source] %></p>
          <% end %>
      </div>
    </div>
  </body>
  
</html>
