<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <met name="keywords" content= "<%= @seo_keywords %>" />
    <%= stylesheet_link_tag    'blogs', 'blog.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    </br>
    <%= render 'shared/blog_masthead' %>
    <div class = 'container'>
      <div class = 'row'>


        <%= yield %>

        <%= render 'shared/blog_sidebar' %>
      </div>
      
        <%= render 'shared/blog_footer' %>

      
    </div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       

      <% if session[:source]%>
        <p>Thanks for visiting from <%= session[:source] %></p>
      <% end %>
  </body>
</html>
